.orange{
    border: 2px solid pink;
    width: 250px;
    height: 100px;
    display: flex;

}
.girl{
    border: 2px solid yellow;
    width: 100px;
    height: 100px;
    
}
.toys{
    width: 100px;
    height: 100px; 
    
}
.boy{
    border: 2px solid green;
    display: flex;
    width: 250px;
    margin-top: 20px; 
}
.nut{
    border: 2px solid orange;
    width: 250px;
}
.wan{
    width: 100px;
    height: 100px;
    border: 2px solid rebeccapurple;
}

